.card {
    width: 30%;
    display: inline-block;
}

.card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#CCE2CB;
}

.card > .img-container > img {
    width: 40%;
}
